//! **************************************************************************
// Written by: Map P.20131013 on Fri Aug 31 15:58:33 2018
//! **************************************************************************

SCHEMATIC START;
COMP "entradaA<0>" LOCATE = SITE "V8" LEVEL 1;
COMP "entradaA<1>" LOCATE = SITE "U10" LEVEL 1;
COMP "entradaA<2>" LOCATE = SITE "U8" LEVEL 1;
COMP "entradaA<3>" LOCATE = SITE "T9" LEVEL 1;
COMP "resultado<0>" LOCATE = SITE "R20" LEVEL 1;
COMP "resultado<1>" LOCATE = SITE "T19" LEVEL 1;
COMP "resultado<2>" LOCATE = SITE "U20" LEVEL 1;
COMP "resultado<3>" LOCATE = SITE "U19" LEVEL 1;
SCHEMATIC END;

